<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Products</title>
    <link rel="stylesheet" type="" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css">
    <style>
        body {
            background: rgb(202, 255, 0);
        }
        .container {
            width: 80%;
        }
        .card {
            border: 2px solid black;
        }
        .card .card-title {
            position: absolute;
            top: 0;
            max-width: 100%;
            padding: 10px;
            height: 50px;
            font-weight: 600;
        }
        .card .card-image {
            height: 250px;
        }
        .card .card-content {
            height: 50px;
            background: teal;
        }
    </style>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <div class="container">
                <a href="/" class="brand-logo">Un-Boxed</a>
                <ul class="right">
                    <li><a href="/">Home</a></li>
                    <li><a href="/products">Products</a></li>
                    <li><a href="/news">News</a></li>
                    <li><a href="/events">Events</a></li>
                    <li><a href="/media">Media</a></li>
                    <li><a href="/new">+</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <h1>News</h1>
        <div class="row">
            <% item.forEach((data, index) => { %>
            <div class="col s12 m6 l6">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title"><%=data.title%></span>
                    </div>
                    <div class="card-image">
                        <img src="<%=data.image %>" alt="<%=data.title %>">
                    </div>
                    <div class="card-action">
                        <a href="/news/<%=data.id%>">See Details</a>
                        <a href="/news/<%=data.id%>/edit">Edit</a>
                    </div>
                </div>
            </div>
            <%})%>
        </div>
    </div>
</body>
</html>