<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Products</title>
    <link rel="stylesheet" type="" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/show.css">
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
    <script
    src="https://code.jquery.com/jquery-3.4.0.min.js"
    integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src='/js/main.js'></script>
    <style>
    .card .card-image {
        max-height: 400px;
        height: 100%;
        width: 50%;
        overflow: hidden;
    }
    .card.horizontal .card-image img {
        max-height: 400px;
        min-height: 400px;
        height: 100%;
        width: 100%;
    }
    .card .card-content {
        max-height: 400px;
        overflow: auto;
    }
    @media only screen and (min-width: 601px) {
  .card.responsive-horizontal {
    display: flex;
  }
  .card.responsive-horizontal.small .card-image, .card.responsive-horizontal.medium .card-image, .card.responsive-horizontal.large .card-image {
    height: 100%;
    max-height: none;
    overflow: visible;
  }
  .card.responsive-horizontal.small .card-image img, .card.responsive-horizontal.medium .card-image img, .card.responsive-horizontal.large .card-image img {
    max-height: 100%;
    width: auto;
  }
  .card.responsive-horizontal .card-image {
    max-width: 50%;
  }
  .card.responsive-horizontal .card-image img {
    border-radius: 2px 0 0 2px;
    width: auto;
    max-width: 100%;
  }
  .card.responsive-horizontal .card-stacked {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .card.responsive-horizontal .card-stacked .card-content {
    flex-grow: 1;
  }
}
    </style>
</head>
<body>
    <nav>
        <% include ./partials/nav.ejs %>
    </nav>
    <div class="container">
        <div class="col s12 m7 l7">
            <h2 class="header"><%=item.title%></h2>
            <div class="card horizontal responsive-horizontal">
              <div class="card-image">
                <img src="<%=item.image %>">
              </div>
              <div class="card-stacked">
                <div class="card-content">
                  <p><%=item.description%></p>
                </div>
                <div class="card-action">
                    <a href="<%=item.link%>">Go To Original Source</a>
                    <a href="/<%=item.category%>/<%=item.id%>/Edit">Edit</a>
                    <form action="/<%=item.category%>/<%=item.id %>?_method=DELETE" method="POST">
                        <input type="submit" value="DELETE"/>
                    </form>
                </div>
              </div>
            </div>
        </div>
    </div>       
</body>
</html>